<div class="text-center pt-2 d-flex flex-column align-items-center"
     style="
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        border-radius:20px;
    ">

    <div class="bg-secondary" style="width:80px;height:5px;border-radius:20px;"></div>
    <form class="d-flex flex-column gap-4 p-4 rounded-4">
        <div class="d-flex gap-4 align-items-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary p-2" style="max-height:36px">
                <i class="bi bi-geo-alt-fill text-white m-0"></i>
            </div>
            <input type="text" name="name" placeholder="Ville de départ" class="bg-transparent p-2 border border-secondary text-white w-100" style="border-radius:50px;">
        </div>

        <div class="d-flex gap-4 align-items-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary p-2" style="max-height:36px">
                <i class="bi bi-circle-fill text-white m-0"></i>
            </div>
            <input type="text" name="name" placeholder="Étape 1" class="bg-transparent p-2 border border-secondary text-white w-100" style="border-radius:50px;">
        </div>

        <div class="d-flex gap-4 align-items-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary p-2" style="max-height:36px">
                <i class="bi bi-circle-fill text-white m-0"></i>
            </div>
            <input type="text" name="name" placeholder="Étape 2" class="bg-transparent p-2 border border-secondary text-white w-100" style="border-radius:50px;">
        </div>

        <div class="d-flex gap-4 align-items-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary p-2" style="max-height:36px">
                <i class="bi bi-circle-fill text-white m-0"></i>
            </div>
            <input type="text" name="name" placeholder="Étape 3" class="bg-transparent p-2 border border-secondary text-white w-100" style="border-radius:50px;">
        </div>

        <div class="d-flex gap-4 align-items-center">
            <div class="d-flex justify-content-center align-items-center rounded-circle bg-secondary p-2" style="max-height:36px">
                <i class="bi bi-flag-fill text-white m-0"></i>
            </div>
            <input type="text" name="name" placeholder="Ville d'arrivée" class="bg-transparent p-2 border border-secondary text-white w-100" style="border-radius:50px;">
        </div>
    </form>
</div>
