@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime


<div>
    <div class=" m-3 p-4 draggable" style="width:400px; height:auto; border-radius:20px; z-index: 2;" id="draggableDiv">
        <InputMenu />
    </div>

    <main style="z-index: 1;  position: relative;">

        @Body

    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("makeDraggable", "draggableDiv", "dragHandle");
        }
    }
}