@inherits LayoutComponentBase


<div class="page">
    <div class="bg-primary m-3 p-4" style="width:400px; height:400px; border-radius:20px">
        <InputMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
